<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>현재 위치를 알아오기 위해 해당 권한을 사용합니다. (주의: 이 값에 &apos;항상&apos; 허용 권한에 대한 자세한 설명을 추가해주세요. 그렇지 않으면 심사에 반려될 수 있습니다.)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>현재 위치를 알아오기 위해 해당 권한을 사용합니다. 현재 위치를 알아오기 위해 해당 권한을 사용합니다. (주의: 이 값에 &apos;항상&apos; 허용 권한에 대한 자세한 설명을 추가해주세요. 그렇지 않으면 심사에 반려될 수 있습니다.)</string>
	<key>NSLocationUsageDescription</key>
	<string>현재 위치를 알아오기 위해 해당 권한을 사용합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 알아오기 위해 해당 권한을 사용합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
